/* Carousel component */
.carousel-comp{
  margin-bottom: 80px;
}
.carousel-img{
  height: 70vh;
  width: 100%;
}

/* Feature Header component */
.feature-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-text{
  text-align: center;
  font-size: 50px;
}
.feature-header-icon{
  width: 30px;
  height: 30px;
}

/* Feature Intro Grid component */
.intro-grid{
  width: 100%;
  padding: 40px 0;
}
.intro-grid-img{
  width: 300px;
  height: 150px;
  margin-right: 20px;
}
.intro-grid-scroll{
  display: flex;
  overflow: auto;
}
.intro-btn{
  margin-top: 20px;
  height: 40px;
  background-color: #206a5d;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
}
.intro-btn:hover{
  background-color: #065446;
}
