/* List component */
.list-title{
  text-align: center;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* Card component */
.grid-card{
  margin-top: 20px;
}

.grid-card img{
  height: 250px;
}

/* Filter component */
.filter{
  padding: 10px 0;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: grey;
  border-bottom-color: grey;

}
.filter-title{
  text-align: center;
  margin-bottom: 0;
}
.filter-flex{
  display: flex;
  justify-content: center;
}
.filter-inner-bar{
  margin-left: 10%;
  margin-right: 10%;
}
.filter-item{
  border-radius: 20px;
  border-color: grey;
  padding: 10px 40px;
  margin: 10px;
}
.filter-time{
  display: inline;
}
